@import "tailwindcss";

html,
body {
  width: 100vw;
  background-color: black;
  color: white;
}

@theme {
  --color-white-50: #d9ecff;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center border-b-4 border-indigo-500 p-10;
  }
}


h1{
  font-size: 30px;
  font-weight: bold;
}