@import "tailwindcss";

html,
body {
  width: 100vw;
  background-color: black;
  color: white;
}

@theme {
  --color-white-50: #d9ecff;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-start border-b-4 border-indigo-500 p-10 text-left;
  }
}


h1,span{
  font-size: 30px;
  font-weight: bold;
}

.repeat-type-text-2{
  color: rgb(197, 241, 74);
}


.cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

